div {
    border: 1px solid black;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 10% auto auto;
    grid-template-rows: 6% 4% auto auto auto auto auto auto;
    gap: 4px;
}

#one {
    grid-row: 1/2;
    grid-column: 2/-1;
    justify-items: center;
    justify-items: center;

}

#two {
    grid-row: 2/3;
    grid-column: 2/-1;
    justify-content: center;
    padding: 20px;
}

#three {
    grid-row: 3/5;
    grid-column: 2/3;
    padding: 20px;

}

#four {
    grid-row: 5/7;
    grid-column: 2/3;
    padding: 20px;
}

#five {
    grid-row: 3/4;
    grid-column: 3/4;
    padding: 20px;

}

#six {
    grid-row: 4/5;
    padding: 20px;
    grid-column: 3/4;

}

#seven {
    grid-row: 5/6;
    grid-column: 3/4;
    padding: 20px;
}

#placeholder {
    grid-row: 6/7;
    grid-column: 3/4;
}

#eight {
    grid-row: 7/8;
    grid-column: 2/4;
    text-align: center;

}

#nine {
    grid-row: 8/9;
    grid-column: 2/4;

}

#ten {
    grid-column: 1/2;
    grid-row: 1/9;
    padding: 20px;

}